@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */


.create-flex-container {
  margin: 20px;
  padding: 30px;
}

.flex-container {
  margin: 20px 0px 20px 0px;
  display: flex;
  gap: 20px;
}

.customise-btn {
  margin: 10px 0px 20px 0px;

}

.add-song-part {
  display: flex;
  gap: 20px;
}

.select {
  margin: 20px 0px;
}

.home-page {
  gap: 10px;
}

 .add-new-home {
  margin-top: 200px;
}

.song-title-done {
  font-weight: bold;
}
.song-lyric-done {
  margin-bottom: 15px;
  white-space: pre-line;
}

.songpart-card {
  margin: 20px;
  padding: 20px;
}
